

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Pokemon</title>
    <%- include("./cssjs.ejs") %>
</head>
<body>
    <h1>New Pokemon</h1>

    <nav>
        <a href="/pokemons">Back to Main</a>
    </nav>
    <form action="/pokemons" method="post">
        <label>Name: <input type="text" name="name"></label>
        <label>Type: <input type="text" name="type"></label>
        <label>Stats: <input type="text" name="stats" /></label>
        <input type="submit" value="Create Pokemon" />
    </form>

</body>
</html>