
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Show Page</title>
    <%- include("./cssjs.ejs") %>
</head>
<body>
    <h1>The Pokemon Show</h1>
    <a href="/pokemons">Back to Main</a>
    
    <h2><%= pokemon.name %></h2>

    <h3><img src=<%= pokemon.img %>></h3>

    <% if (pokemon.stats.hp > 50) { %>
        <h4>"power on"</h4>
    <% } else { %> 
        <h4>"power up"</h4>
    <% } %>

</body>
</html>

<!-- <img src="image.jpg" alt="Description of the image -->