
h1 {
    color: orange;
}

body {
    background-color: slategray;
}

.pokes {
    max-width: 50px;
    display: grid;
    /* display: flex; */
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.poke-container {
    padding: 5px;
    background-color: orange;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

img {
    border-radius: 5px;
}